body {
    font-family: "Open Sans", "Helvetica", sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    line-height: 1.5em;
    margin: 0;
    color: #141823;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

strong {
    font-weight: bold;
}

a, a#selected {
    transition: color .2s ease-out;
    color: #46e;
    text-decoration: none;
}

a:hover {
    color: gray;
}

header a, footer a {
    color: inherit;
}

body > header, body > footer {
    background-color: #181818;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}

nav ul {
    padding: 1em 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 10%;
}

h1 a, h2 a {
    line-height: 1.4em;
}

pre {
    overflow: auto;
    padding: 1em;
    font-size: .8em;
    line-height: 1.4em;
}

blockquote {
    border-left: 5px solid #46e;
    margin: 0;
    padding: 0 1em;
}

article {
    padding-top: 2em;
    padding-bottom: 2em;
}

article header {
    text-align: center;
}

article header p {
    color: dimgray;
}

article footer {
    margin-top: 1.5em;
}

.box {
    border: 1px solid black;
    border-radius: 3px;
    padding: .3em .6em;
    transition: background-color .2s ease-out;
}

.box:hover {
    background-color: black;
    color: white;
}

article .comments {
    margin-top: 2em;
}

body > footer {
    display: flex;
    justify-content: space-between;
}

body > footer .fa {
    margin: 0 .25em
}

body > footer .fa-copyright {
    font-size: .85em;
    margin-right: .5em;
}

.more::after {
    font-family: "FontAwesome";
    font-size: .8em;
    margin-left: .4em;
    content: "\f101";
}

/*
 * Pagination
 */

.older::after {
    font-family: "FontAwesome";
    font-size: .8em;
    margin-left: .4em;
    content: "\f101";
}

.newer::before {
    font-family: "FontAwesome";
    font-size: .8em;
    margin-right: .4em;
    content: "\f100";
}

div.pagination a {
    color: inherit;
}

div.pagination {
  text-align: center;
  padding-bottom: 2em;
}

/*
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right {
    float: right;
    margin-left: 1.5em;
}

.left {
    float: left;
    margin-right: 1.5em;
}

.beeminder {
    height: 60px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}
