---
layout: default
---
{% for page in site.posts %}
<article>
  <header>
    <h2><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h2>
    <p>{% if page.author %}{{ page.author }} • {% endif %}{% if page.date %}<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>{% endif %}{% if page.categories %} • {{ page.categories | join: ','}}{% endif %}</p>
  </header>
  <div>
    {{ page.excerpt }}
  </div>
  <footer>
    <a href="{{ page.url | prepend: site.baseurl }}">{{ site.more }}</a>
  </footer>
</article>
{% endfor %}
