---
layout: default
---
{% for page in paginator.posts %}
<article>
  {% include post_header.html %}
  <div>
    {{ page.excerpt }}
  </div>
  <footer>
    <a href="{{ page.url | prepend: site.baseurl }}" class="more box">{{ site.more }}</a>
  </footer>
</article>
{% endfor %}
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="newer box">Newer</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="older box">Older</a>
  {% endif %}
</div>
